
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover, a:link, a:visited, a:hover{
	color: #ffba00;
	text-decoration: none;
	
}
html{
	background: #404040;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
.txlivro{
	color: #ffba00;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight: 800;
	text-size: 22px;
}
.txtitulo{
	color: #ffba00;
	margin: 0 20px;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight:800;
	text-size: 22px;
}
.txcontent{
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-size:19px;
	color: #ffba00;
	margin: 0 20px;
}
#topbar{
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 10px;
	height: 40px;
  padding: 10px;
	display: inline-block;
	align: center-vertical;
	background: #303030;
	box-shadow: -10px 5px 15px rgba(255,186,0,.4);

	h1{
		color: #ffba00;
		text-shadow: 0 2px 3px rgba(255,186,0,.6);
		transition:.2s;
		font-family: 'Quicksand', serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: 600;
	}
}
#topbar:hover{
	h1{
		color:#ffca00;
		text-shadow:0 2px 8px rgba(255,202,0,.6);
		transition:.2s;
		font-family: 'Quicksand', serif;
	}
}
.search{
	position: relative;
	padding: 5px;
	width: 20px;
	height: 20px;
	margin: -30px 40px 0 0;
	display: inline-block;
	float: right;
	transition: .3s;
}
.search:hover{
	width: 22px;
	height: 22px;
	margin: -31px 39px 0 0;
	box-shadow: 0 4px 4px rgba(255,186,0,.4);
	border-radius: 8px;
	transition: .3s;
}
#popup-search{
	z-index: 99;
	position: fixed;
	display: none;
	padding: 10px;
	width: 90%;
	height: 70%;
	margin-top: 80px;
  right:4%;
  left: 4%;
	justify-content: center;
	border-radius: 10px;
	background: rgba(255,186,0,.8);
  backdrop-filter: blur(1.5px);
}
.btn{
	position: relative;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	background: rgba(0,0,0,.0);
	img: src("img/search_ico.png")
}
.close{
	padding:1px;
	width: 20px;
	height: 20px;
	background: 0 4px 4px rgba(255,186,0,.8);
	display: inline-block;
	float: right;
	margin-right: 0;
	transition: .3s;
}
.close:hover{
	padding:1px;
	width: 22px;
	height: 22px;
	margin: -1px 0 0 -1px;
	box-shadow: 0 4px 4px rgba(255,186,0,.4);
	border-radius: 5px;
	transition: .3s;
}
.psearch{
	width:100%;
	margin: 0 auto;
	display: block;
	align:center;
}
.psearch img{
	margin-top: 35px;
	margin-left: 5px;
}
.inpt{
	position: relative;
	width: 80%;
	height:30px;
	margin: 30px auto;
	font-size: 16px;
	padding: 20px, 2px, 2px;
	border: none;
	outline: none;
	color: #505050;
	background-color: rgba(255,255,255,.6);
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,,4);
}
#wrap{
  positiin: relative;
	width: 90%;
	height: auto;
  display: block;
  top: 10px;
  bottom: 0;
  right: 5%;
  left: 5%;
  justify-content: center;
}
#ready{
  position: relative;
	padding: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  right: 5%;
  left: 5%;
  justify-content: center;
}
#liv{
	position: fixed;
	width: 90%;
	height: 20px;
	right: 3.2%;
  left: 3.2%;
  display: block;
  float: left;
	padding: 10px 20px;
	bottom: 0;
	background: rgba(255,186,0,.8);
  backdrop-filter: blur(1.5px);
	border-radius: 10px 10px 0 0;
	justify-content: center;
	transition: .3s;
}
#liv:hover{
	height: auto;
	transition: .5s;
}
#liv h2{
	color: #303030;
	text-shadow: 0 2px 4px rgba(0,0,0,.4);
}
#divliv{
	position: relative;
	width: 90%;
	height: 20px;
}
#nomeliv{
	color: #ffba00;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight: 800;
  margin-right: 5px;
  matgin-left: 5px;
}
#list-livros{
  position: relative; 
  width: 98%;
  top: 80px;
  right: 4.5%;
  left: 4.5%;
  margin-bottom: 200px;
  padding: 20px;
  display: block;
  float: left;
  border-radius: 10px; 
  background: rgba(255,186,0,.6); 
  backdrop-filter: blur(1.5px);
  box-shadow: 0 0 1px rgba(255,186,0,.4);
  justify-content: center;
}
.lnkcap{
	width: 50px;
	margin: 10px;
	display: inline-block;
	float: left;
	text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
	background: rgba(0,0,0,.6);
	color: #ffba00;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight: 800;
	transition: .3s;
}
.lnkcap:hover{
	background: rgba(255,186,0,.8);
   box-shadow: 0 4px 4px rgba(0,0,0,.4);
	color: rgba(0,0,0,.8);
	margin-top: 8px;
	transition: .3s;
}
#fut{
  position: fixed; 
  width:98%; 
  height: 80px; 
  bottom: 0px;
  right: 1%;
  left: 1%;
  margin-top: 20px;
  backdrop-filter: blur(1.5px);
  background: rgba(0,0,0,.5); 
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(255,186,0,.4);
  padding: 20px 0 0 0;
  vertical-align: middle;
}
#fut p, pre {
   position: relative;
   text-align: center;
   color: #ffba00;
   vertical-align: middle
}
.ico {
   width: 16px;
   height: 16px;
   margin: 0 0 -5px 0;
   padding: 15px 0 0  0
}
