
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover, a:link, a:visited, a:hover{
	color: #ffba00;
	text-decoration: none;
	
}
html{
	background: #404040;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
.blur{
   filter: brightness(100%);
}
.txlivro{
	color: #ffba00;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight: 800;
	text-size: 22px;
}
.txtitulo{
	color: #ffba00;
	margin: 0 20px;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight:800;
	text-size: 22px;
}
.txcontent{
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-size:19px;
	color: #ffba00;
	margin: 0 20px;
}
#topbar{
	z-index: 0;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 10px;
	height: 40px;
	padding: 10px;
	display: inline-block;
	align: center-vertical;
	background: #303030;
	box-shadow: -10px 5px 15px rgba(255,186,0,.4);

	h1{
		color: #ffba00;
		text-shadow: 0 2px 3px rgba(255,186,0,.6);
		transition:.2s;
		font-family: 'Quicksand', serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: 600;
	}
}
#topbar:hover{
	h1{
		color:#ffca00;
		text-shadow:0 2px 8px rgba(255,202,0,.6);
		transition:.2s;
		font-family: 'Quicksand', serif;
	}
}
.search{
	position: relative;
	padding: 5px;
	width: 20px;
	height: 20px;
	margin: -30px 40px 0 0;
	display: inline-block;
	float: right;
	transition: .3s;
}
.search:hover{
	width: 22px;
	height: 22px;
	margin: -31px 39px 0 0;
	box-shadow: 0 4px 4px rgba(255,186,0,.4);
	border-radius: 8px;
	transition: .3s;
}
#popup-search{
	position: fixed;
	z-index: 0;
	display: none;
	padding: 10px;
	width: 90%;
	height: 400px;
	margin: 40px 50px;
	justify-content: center;
	border-radius: 10px;
	background: rgba(255,186,0,.6);
}
.btn{
	position: relative;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	background: rgba(0,0,0,.0);
	img: src("img/search_ico.png")
}
.close{
	padding:1px;
	width: 20px;
	height: 20px;
	background: 0 4px 4px rgba(255,186,0,.8);
	display: inline-block;
	float: right;
	transition: .2s;
}
.close:hover{
	padding:1px;
	width: 22px;
	height: 22px;
	margin: -1px 0 0 -1px;
	box-shadow: 0 4px 4px rgba(255,186,0,.4);
	border-radius: 5px;
	transition: .3s;
}
.psearch{
	width:100%;
	margin: 0 auto;
	display: inline-block;
	align:center;
}
.psearch img{
	margin-top: 35px;
	margin-left: 5px;
}
.inpt{
	position: relative;
	width: 80%;
	height:30px;
	margin: 30px auto;
	font-size: 16px;
	padding: 20px, 2px, 2px;
	border: none;
	color: #ffba00;
	background-color: rgba(255,255,255,.6);
	border-radius: 20px;
	box-shadow: rgba(0,0,0,,4);
}
#wrap{
	width: 95%;
	height: 85%;
	margin: 10px auto;
}
#ready{
	padding: 20px 10px;
}
#liv{
	position: fixed;
	z-index: 0;
	width: 96%;
	height: 30px;
	margin: 0 2%;
	bottom: 0;
	border-radius: 10px 10px 0 0;
	padding: 20px 20px 30px 20px;
	background: rgba(255,186,0,.8);
	display: inline-block;
   align: center;
	transform: 2s;
}
#liv:hover{
	height: auto;
	transform: 2s;
}
#liv p{
	color:#404040;
}
#liv h2{
	color: #303030;
	box-shadow: rgba(0,0,0,,4);
}
.livplus{
	height: 600px;
	transform: 1s
}
#divliv{
	position: relative;
	width: 100%;
	height:30px;
	margin: 10px 20px;
	display: inline-block;
	float: right;
	transform: 1s;
}
#nomeliv{
	color: #ffba00;
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
	font-style: bold;
	font-weight: 800;
}
